@import url('https://fonts.cdnfonts.com/css/clash-display');

.wrap{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.wrap .image{
    width: 617px;
    height: 472.01px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
}

.wrap .details{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 24px;
}

.wrap .details h1{
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    margin-top: 0.5rem;
    color: #333;
}

.wrap .details .adventureTracker{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24.68px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.wrap .details .adventureTracker .join{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.wrap .details .adventureTracker .reward{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.wrap .details .adventureTracker .reward .gift{
    color: #22BB33;
}

.wrap .details .adventureTracker span{
    order: 1;
}

.wrap .details .span{
    width: 350px;
    height: 56px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #333;
    text-align: center;
    background: transparent;
    border: 2px solid #eee;
    outline: none;
    border-radius: 10px;
    transition: all .2s ease-in;
    cursor: pointer;
}

.wrap .details .span:hover{
    background: #333;
    color: #fff;
    transform: translateY(50%);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
}